<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Earth Breath</title>
    <link rel="stylesheet" href="styles/header.css">
    <link rel="stylesheet" href="styles/Oops.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="scripts/header.js"></script>
</head>
<body>
    <header>

        <article class="header-body">

            <aside class="profile-menu">
                <div><img src="imgs/profile-img.png" alt="" id="profile-img"></div><button>v</button>
            </aside>

            <aside class="header-button" onclick="window.location.href='main.html'">
                <p>INICIO</p>
            </aside>

            <aside class="header-button" onclick="window.location.href='trade.html'">
                <p>TROCAS</p>
            </aside>

            <aside class="header-button" onclick="window.location.href='Oops.html'">
                <p>GUILDAS</p>
            </aside>

            <aside class="header-button" onclick="location.href='profile.html#inventory'">
                <p>INVENTÁRIO</p>
            </aside>



        </article>
        <article class="profile-box">
            <aside class="profile-button" onclick="location.href='profile.html#profile'">Seu perfil</aside>
            <aside class="profile-button" onclick="location.href='profile.html#emblem'">Emblemas</aside>
            <aside class="profile-button" onclick="location.href='Oops.html'">Guilda</aside>
            <aside class="profile-button"onclick="location.href='profile.html#emblem'">Conquistas</aside>
            <p>Nivel 4 / Rank: Novato</p>
            <aside class="progress-bar"></aside>
        </article>

    </header>
    <main>
        <article class="Oops">
            <aside class="Oops-Blurbox">
                <div class="Oops-Box">
                    <h1>
                        Oops...
                    </h1>
                    <p>
                        Peço humildemente perdão caro jogador, ainda estamos desenvolvendo essa parte <br>
                        Por favor Aguarde pacientemente para essa função em breve :)
                    </p>
                </div>
            </aside>
        </article>
    </main>
</body>
</html>